.container {
    margin-left: 25%;
    margin-top: 10%;
    width: 50%;
    border: solid;
    padding-bottom: 75px;
    height: 235px;
}

.header {
    text-align: center;
}

.row{
    display: inline-block;
    width: 100%;
}

.scale-entity {
    display: inherit;
    text-align: center;
    margin-left: 15%;
}

.value {
    display: inherit;
    margin-left: 13%;
}

.value p {
    text-align: center;
}

.value input {
    border: solid;
    width: 100px;
    text-align: center;
}

.calculate-button {
    display: inherit;
    margin-left: 12%;
    background-color: #DBE8FC;
    border: solid, #7293C2;
}

.results {
    display: inline-block;
    width: 100%;
}

.fahrenheit-results {
    display: inherit;
    margin-left: 15%;
    text-align: center;
}

.celsius-results {
    display: inherit;
    margin-left: 9%;
    text-align: center;
}

.kelvin-results {
    display: inherit;
    margin-left: 9%;
    text-align: center;
}

.rankine-results {
    display: inherit;
    margin-left: 9%;
    text-align: center;
}